[package]
name = "with_winit"
description = "An example using vello to render to a winit window"
publish = false

version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "with_winit"
crate-type = ["cdylib", "lib"]

[[bin]]
# Stop the PDB collision warning on windows
name = "with_winit_bin"
path = "src/main.rs"

[dependencies]
vello = { path = "../../", features = ["buffer_labels", "wgpu-profiler"] }
scenes = { path = "../scenes" }
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }
instant = { workspace = true }
pollster = { workspace = true }
wgpu-profiler = { workspace = true }

wgpu = { workspace = true }
winit = "0.29.10"
env_logger = "0.10.0"
log = "0.4.17"

[target.'cfg(not(any(target_arch = "wasm32", target_os = "android")))'.dependencies]
vello = { path = "../../", features = ["hot_reload"] }
notify-debouncer-mini = "0.3"


[target.'cfg(target_os = "android")'.dependencies]
winit = { version = "0.29.10", features = ["android-native-activity"] }
android_logger = "0.13.0"
jni = "0.21"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
console_log = "1"
wasm-bindgen-futures = "0.4.33"
# Note: pin web-sys to 0.3.67 because wgpu 0.19 depends on that exact version.
# Update this when revving wgpu. Remove pin when wgpu no longer demands it.
# See https://github.com/gfx-rs/wgpu/pull/5224 for more info.
web-sys = { version = "=0.3.67", features = ["HtmlCollection", "Text"] }
getrandom = { version = "0.2.10", features = ["js"] }
