[package]
name = "with_winit"
version = "0.0.0"
description = "An example using vello to render to a winit window"
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[lib]
name = "with_winit"
crate-type = ["cdylib", "lib"]

[features]
default = ["wgpu-profiler"]
# Enable the use of wgpu-profiler. This is an optional feature for times when we use a git dependency on
# wgpu (which means the dependency used in wgpu-profiler would be incompatible)
wgpu-profiler = ["dep:wgpu-profiler", "vello/wgpu-profiler"]
# Test for dependencies which implement std traits in ways that cause type inference issues.
_ci_dep_features_to_test = ["dep:kurbo", "kurbo/schemars"]

[lints]
workspace = true

[[bin]]
# Stop the PDB collision warning on windows
name = "with_winit_bin"
path = "src/main.rs"


[dependencies]
vello = { workspace = true, features = ["debug_layers"] }
scenes = { workspace = true }

anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }
pollster = { workspace = true }
wgpu-profiler = { workspace = true, optional = true }

winit = { workspace = true }
log = { workspace = true }

# We're still using env-logger, but we want to use tracing spans to allow using
# tracing_android_trace
tracing = { version = "0.1.44", features = ["log-always"] }
# For _ci_dep_features_to_test feature tests.
kurbo = { workspace = true, optional = true, default-features = true }

[target.'cfg(not(target_os = "android"))'.dependencies]
# We use android_logger on Android
env_logger = "0.11.8"

[target.'cfg(not(any(target_arch = "wasm32", target_os = "android")))'.dependencies]
vello = { workspace = true, features = ["hot_reload"] }
vello_shaders = { workspace = true, features = ["compile"] }
notify-debouncer-full = "0.5.0"


[target.'cfg(target_os = "android")'.dependencies]
winit = { workspace = true, features = ["android-native-activity"] }
android_logger = "0.15.1"

tracing_android_trace = "0.1.1"
tracing-subscriber = { version = "0.3.22", default-features = false, features = [
    "std",
    "registry",
] }
profiling = { version = "1.0.17", features = ["profile-with-tracing"] }

# For caching
jni = "0.21.1"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = { workspace = true }
console_log = { workspace = true }
wasm-bindgen-futures = "0.4.56"
web-sys = { version = "0.3.83", features = ["HtmlCollection", "Text"] }
web-time = { workspace = true }
# If updating, also update in .github/workflows/web-demo.yml
wasm-bindgen = "=0.2.106"

[target.wasm32-unknown-unknown.dependencies]
# We have a transitive dependency on getrandom and it does not automatically
# support wasm32-unknown-unknown. We need to enable the js feature.
getrandom = { version = "0.3.4", features = ["wasm_js"] }
