[package]
name = "with_winit"
version = "0.0.0"
description = "An example using vello to render to a winit window"
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[lib]
name = "with_winit"
crate-type = ["cdylib", "lib"]

[[bin]]
# Stop the PDB collision warning on windows
name = "with_winit_bin"
path = "src/main.rs"

[dependencies]
vello = { path = "../../", features = ["buffer_labels", "wgpu-profiler"] }
scenes = { path = "../scenes" }
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }
instant = { workspace = true }
pollster = { workspace = true }
wgpu-profiler = { workspace = true }

wgpu = { workspace = true }
winit = "0.29.12"
env_logger = "0.11.2"
log = { workspace = true }

[target.'cfg(not(any(target_arch = "wasm32", target_os = "android")))'.dependencies]
vello = { path = "../../", features = ["hot_reload"] }
notify-debouncer-mini = "0.3"


[target.'cfg(target_os = "android")'.dependencies]
winit = { version = "0.29.12", features = ["android-native-activity"] }
android_logger = "0.13.3"
jni = "0.21"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
wasm-bindgen-futures = "0.4.41"
web-sys = { version = "0.3.67", features = ["HtmlCollection", "Text"] }
getrandom = { version = "0.2.12", features = ["js"] }
