# LFS settings
# If changing, also change in .github/workflows/ci.yml
research/vello_research_tests/snapshots/*.png filter=lfs diff=lfs merge=lfs -text
vello_tests/snapshots/*.png filter=lfs diff=lfs merge=lfs -text
