[workspace]
resolver = "2"

members = ["piet-scene", "piet-wgsl", "piet-wgsl/examples/winit", "run-wasm"]

[workspace.package]
edition = "2021"
version = "0.1.0"
authors = ["piet-gpu developers"]

[patch.crates-io]
# Required for metal support to work on wgpu
# TODO: remove when wgpu is upgraded to 0.15
naga = { git = "https://github.com/gfx-rs/naga", rev = "ddcd5d3121150b2b1beee6e54e9125ff31aaa9a2" }
