[workspace]
resolver = "2"
members = [
    "vello",
    "vello_encoding",
    "vello_shaders",
    "vello_tests",

    "examples/headless",
    "examples/with_winit",
    "examples/run_wasm",
    "examples/scenes",
    "examples/simple",
    "examples/simple_sdl2",
]

[workspace.package]
# Vello version, also used by other packages which want to mimic Vello's version.
# Right now those packages include vello_encoding and vello_shaders.
#
# NOTE: When bumping this, remember to also bump the aforementioned other packages'
#       version in the dependencies section at the bottom of this file.
#       Additionally, bump the Vello dependency version in the 'simple'
#       and `simple_sdl2` examples.
version = "0.3.0"

edition = "2021"
# Keep in sync with RUST_MIN_VER in .github/workflows/ci.yml, with the relevant README.md files
# and with the MSRV in the `Unreleased` section of CHANGELOG.md.
rust-version = "1.75"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/linebender/vello"

[workspace.lints]
clippy.doc_markdown = "warn"
clippy.semicolon_if_nothing_returned = "warn"
# We use a modified version of `unreachable_pub`, where we mark associated functions of pub(crate) items as pub.
# This policy was implemented as it could gain begrudging consensus - there is no lint for this.
# rust.unreachable_pub = "warn"

[workspace.dependencies]
vello = { version = "0.3.0", path = "vello" }
vello_encoding = { version = "0.3.0", path = "vello_encoding" }
vello_shaders = { version = "0.3.0", path = "vello_shaders" }
bytemuck = { version = "1.18.0", features = ["derive"] }
skrifa = "0.25.0"
# The version of kurbo used below should be kept in sync
# with the version of kurbo used by peniko.
peniko = "0.2.0"
# FIXME: This can be removed once peniko supports the schemars feature.
kurbo = "0.11.1"
futures-intrusive = "0.5.0"
raw-window-handle = "0.6.2"
smallvec = "1.13.2"
static_assertions = "1.1.0"
thiserror = "2.0.3"

# NOTE: Make sure to keep this in sync with the version badge in README.md and vello/README.md
wgpu = { version = "23.0.0" }
log = "0.4.22"
image = { version = "0.25.5", default-features = false }

# Used for examples
clap = "4.5.21"
anyhow = "1.0.93"
pollster = "0.4.0"
web-time = "1.1.0"
wgpu-profiler = "0.19.0"
scenes = { path = "examples/scenes" }
