[workspace]
resolver = "2"

members = [
    "crates/encoding",
    "crates/shaders",

    "integrations/vello_svg",

    "examples/headless",
    "examples/with_winit",
    # "examples/with_bevy", # Disable for now until bevy is using wgpu 0.17
    "examples/run_wasm",
    "examples/scenes",
]

[workspace.package]
edition = "2021"
version = "0.0.1"
license = "MIT OR Apache-2.0"
# homepage = "https://vello.dev" - Domain owned by us, but unused at present
# rust-version = 
repository = "https://github.com/linebender/vello"

[package]
name = "vello"
description = "An experimental GPU compute-centric 2D renderer"
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics"]

# This crate is intended for publishing, but not ready yet
publish = false

version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[features]
hot_reload = []
buffer_labels = []

[dependencies]
bytemuck = { workspace = true }
fello = { workspace = true }
peniko = { workspace = true }
wgpu = { workspace = true }
raw-window-handle = "0.5"
futures-intrusive = "0.5.0"
vello_encoding = { path = "crates/encoding" }
wgpu-profiler = { workspace = true, optional = true }

[workspace.dependencies]
bytemuck = { version = "1.12.1", features = ["derive"] }
fello = { git = "https://github.com/dfrg/fount", rev = "0a7c809716aeb96795325a74c91c048cf4980d73" }
peniko = { git = "https://github.com/linebender/peniko", rev = "cafdac9a211a0fb2fec5656bd663d1ac770bcc81" }
wgpu = "0.17"                                                                                               # NOTE: Make sure to keep this in sync with the version badge in README.md


# Used for examples
clap = "4.1.0"
anyhow = "1.0"
instant = { version = "0.1.12", features = ["wasm-bindgen"] }
pollster = "0.3.0"
wgpu-profiler = "0.13"
