[workspace]
resolver = "2"

members = [
    "crates/encoding",
    "crates/shaders",

    "integrations/vello_svg",

    "examples/headless",
    "examples/with_winit",
    # "examples/with_bevy", # Disable for now until bevy is using wpgu 0.18
    "examples/run_wasm",
    "examples/scenes",
]

[workspace.package]
edition = "2021"
version = "0.0.1"
license = "MIT OR Apache-2.0"
# homepage = "https://vello.dev" - Domain owned by us, but unused at present
# rust-version = 
repository = "https://github.com/linebender/vello"

[package]
name = "vello"
description = "An experimental GPU compute-centric 2D renderer"
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics"]

# This crate is intended for publishing, but not ready yet
publish = false

version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[features]
default = ["wgpu"]
# Enables GPU memory usage estimation. This performs additional computations
# in order to estimate the minimum required allocations for buffers backing
# bump-allocated GPU memory.
bump_estimate = ["vello_encoding/bump_estimate"]
hot_reload = []
buffer_labels = []

[dependencies]
bytemuck = { workspace = true }
skrifa = { workspace = true }
peniko = { workspace = true }
wgpu = { workspace = true, optional = true }
raw-window-handle = "0.5"
futures-intrusive = "0.5.0"
vello_encoding = { path = "crates/encoding" }
wgpu-profiler = { workspace = true, optional = true }
# Note: we pick up a kurbo dependency transitively through peniko.
# However, we need at least version 0.10.4 for proper stroking.
# Next time we bump peniko, this can be removed.
kurbo = "0.10.4"

[workspace.dependencies]
bytemuck = { version = "1.12.1", features = ["derive"] }
skrifa = "0.15.4"
peniko = { git = "https://github.com/linebender/peniko", rev = "8717635681dedfab3e9f3741fcbc7f3318a82ff0" }

# NOTE: Make sure to keep this in sync with the version badge in README.md
wgpu = { version = "0.18" }


# Used for examples
clap = "4.1.0"
anyhow = "1.0"
instant = { version = "0.1.12", features = ["wasm-bindgen"] }
pollster = "0.3.0"
wgpu-profiler = "0.15"
