[workspace]
resolver = "2"
members = [
    "crates/encoding",
    "crates/shaders",
    "crates/tests",

    "integrations/vello_svg",

    "examples/headless",
    "examples/with_winit",
    "examples/with_bevy",
    "examples/run_wasm",
    "examples/scenes",
    "examples/simple",
]

[workspace.package]
# Vello version, also used by other packages which want to mimic Vello's version.
# Right now those packages include vello_encoding and vello_shaders.
#
# NOTE: When bumping this, remember to also bump the aforementioned other package's
#       version in the dependencies section at the bottom of this file.
version = "0.1.0"

edition = "2021"
rust-version = "1.75"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/linebender/vello"

[package]
name = "vello"
version.workspace = true
description = "An experimental GPU compute-centric 2D renderer."
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics"]
exclude = ["/.github/", "/doc/", "/examples/", ".gitignore"]
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[features]
default = ["wgpu"]
hot_reload = []
buffer_labels = []

[dependencies]
vello_encoding = { workspace = true }
bytemuck = { workspace = true }
skrifa = { workspace = true }
peniko = { workspace = true }
wgpu = { workspace = true, optional = true }
raw-window-handle = { workspace = true }
futures-intrusive = { workspace = true }
wgpu-profiler = { workspace = true, optional = true }

[workspace.dependencies]
vello_encoding = { version = "0.1.0", path = "crates/encoding" }
bytemuck = { version = "1.14.3", features = ["derive"] }
skrifa = "0.15.5"
peniko = "0.1.0"
futures-intrusive = "0.5.0"
raw-window-handle = "0.6"

# NOTE: Make sure to keep this in sync with the version badge in README.md
wgpu = { version = "0.19" }


# Used for examples
clap = "4.5.1"
anyhow = "1.0"
instant = { version = "0.1.12", features = ["wasm-bindgen"] }
pollster = "0.3.0"
wgpu-profiler = "0.16"
