[package]
name = "vello_hybrid"
version = "0.0.6"
description = "A hybrid CPU/GPU renderer for Vello, balancing computation between CPU and GPU for efficiency."
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics"]
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true
default-target = "x86_64-unknown-linux-gnu"
targets = ["wasm32-unknown-unknown"]

[dependencies]
bytemuck = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
vello_common = { workspace = true, features = ["std", "text"] }
wgpu = { workspace = true, default-features = false, optional = true }
vello_sparse_shaders = { workspace = true, optional = true }
log = { workspace = true }
guillotiere = "0.6.2"
hashbrown = { workspace = true }
vello_api = { workspace = true, features = ["std"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = { version = "0.3.83", optional = true }
web-sys = { version = "0.3.83", features = [
    "HtmlCanvasElement",
    "WebGl2RenderingContext",
    "WebGlContextAttributes",
    "WebGlProgram",
    "WebGlUniformLocation",
    "WebGlBuffer",
    "WebGlShader",
    "WebGlTexture",
    "WebGlFramebuffer",
    "WebGlVertexArrayObject",
], optional = true }

[dev-dependencies]
png = { workspace = true }
pollster = { workspace = true }
vello_common = { workspace = true, features = ["pico_svg"] }
roxmltree = "0.20.0"

[features]
default = ["wgpu", "wgpu_default"]
std = ["wgpu", "vello_common/std"]
wgpu = ["dep:wgpu", "dep:vello_sparse_shaders"]
# Enable wgpu with its default features. If you need to customise the set of enabled wgpu features,
# please disable this crate's default features, enable its "wgpu" feature, then depend on wgpu directly
# with the features which you need enabled.
wgpu_default = ["wgpu", "wgpu/default"]
webgl = ["dep:js-sys", "dep:web-sys", "dep:vello_sparse_shaders", "vello_sparse_shaders/glsl"]

[lints]
workspace = true

[[example]]
name = "render_to_file"
required-features = ["wgpu"]
