[package]
name = "vello_common"
version.workspace = true
description = "Core data structures and utilities shared across the Vello rendering, including geometry processing and tiling logic."
categories = ["rendering", "graphics"]
keywords = ["2d", "vector-graphics"]
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
# Prevent accidental publishing until the initial release
publish = false

[dependencies]

[lints]
workspace = true
