[package]
name = "scenes"
description = "Vello scenes used in the other examples"
publish = false

version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
vello = { path = "../../" }
vello_svg = { path = "../../crates/vello_svg" }
velato = { path = "../../crates/velato" }
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive"] }

# Used for the `download` command
byte-unit = "4.0"
dialoguer = "0.10"
ureq = "2.6"
